<div class="row text-center" >

        <h1>Contact Us</h1>
        <hr width="45%">


        <div class="col-md-3">
        </div>
        <div class="col-md-6 text-center">
            <h3>Are you ready for a delightful dining experience? 
                Give us a call or send us an email for placing a delivery order. 
                Orders can also be placed online. </h3>

                <h3>Mobile: +1 (312) 395 0328</h3>
                <h3>Email: thekitchen@tkres.com</h3>

                <br>
                <h3>You can also message us using the form below.</h3>
                <br>
        </div>
        <div class="col-md-3">
          </div>
       
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-center">
                <form>
                    <div class="row">
                        <div class="col-xs-12">
                          <div class="form-group">
                            <label for="name">Name</label>
                            <input 
                              type="text" 
                              id="name" 
                              formControlName="name"
                              class="form-control">
                          </div>
                        </div>
                      </div>
                
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="form-group">
                            <label for="name">Phone</label>
                            <input 
                              type="text" 
                              id="name" 
                              formControlName="name"
                              class="form-control">
                          </div>
                        </div>
                      </div>
                
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="form-group">
                            <label for="description">Your message</label>
                            <textarea 
                              type="text" 
                              id="Message" 
                              formControlName="description"
                              class="form-control"
                              rows="4"
                              maxlength="500"></textarea>
                          </div>
                        </div>
                      </div>
                
                      <div class="row">
                        <div class="col-xs-12">
                          <button type="button" 
                          class="btn btn-primary"
                          >Send Message</button>
                        </div>
                      </div>     
                </form>


            </div>
            <div class="col-md-4">
            </div>

        </div>
      


                <br><br><br><br><br><br><br><br><br>
</div>


