.container {
	font-family:'Spirax', cursive;
	color:white;
}

.col-md-5{
    margin: 0 auto;
}

.papers {
	position:relative;
	width:90%;
	padding:2em;
	margin:0px auto;
	margin-top:40px;
	font-size:15px; 
}

.aboutus {
	padding-top: 10px;
	background-image: url(https://static.pexels.com/photos/164357/pexels-photo-164357.jpeg);
	background-position: center center;
    background-size: cover; 
  }


  hr { background-color: aliceblue;  }