.container {
	font-family:'Spirax', cursive;
}

.col-md-5{
    margin: 0 auto;
}

.papers {
	position:relative;
	width:90%;
	padding:2em;
	margin:0px auto;
	margin-top:40px;
	font-size:15px; 
}

.aboutus {
	padding-top: 10px;
	background-image: url(../../assets/Images/our-story.jpg);
  }

  .heading.text-center{
	padding-top: 50px;
  }

  hr { background-color: black; height: 1px; border: 0; }